<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adam.rozpiskimeczowe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_tag_faces_black_24dp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".everyoneForEveryone.EFEactiv" />
        <activity android:name=".everyoneForEveryone.EFEactiv3" />
        <activity
            android:name=".brazylian.BRAZactiv"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".brazylian.brazylian8.BRAZactiv8" />
        <activity android:name=".everyoneForEveryone.Results" />
        <activity android:name=".everyoneForEveryone.EFEactiv4" />
    </application>

</manifest>